:root {
    /* unchanging colors */

    /* changing colors (light by default */
    --navbar-color: #696969; /* light: #f2f2f2, dark: #212529 */
    --dropdown-color: #aaaaaa; /* light: #aaaaaa, dark: #2c3035 */
    --background-color: #f2f2f2; /* light: #f2f2f2, dark: #2d2d2d */ 
    --text-color: #000000; /* light: #000000, dark: #f8f9fa */
    --content-background: #d7d7d7; /* light: , dark: */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--navbar-color);
}

.logo {
    width: auto;
    height: 50%;
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
}

.changing-text {
    color: var(--text-color);
}

.dropdown-menu {
    background-color: var(--dropdown-color);
}

.dropdown-item:hover {
    background-color: var(--navbar-color);
}

.login-btn {
    color: var(--text-color);
}

.navbar-toggler-icon {
    color: var(--text-color);
}

.theme-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 140px;
}

.intro {
    position: relative;
}

.intro-img {
    width: 100%;
    height: auto;
}

.intro-first-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    backdrop-filter: blur(5px);
    color: #f8f9fa;
    width: 20%;
    height: 10%;
    min-width: fit-content;
    min-height: fit-content;
}

.intro-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
}

.intro-button {
    display: flex;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    background-color: var(--content-background);
    box-shadow: 5px 5px 5px #000000;
    margin: 10px;
    width: 18rem;
}

.main-card {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.title {
    display: flex;
    justify-content: center ;
}

.shop-image {
    height: auto;
    width: 100%;
}

@media (max-width: 1000px) {
    .intro-button {
        display: none;
    }
}

@media (max-width: 991px) {
    .nav-link {
        margin-left: 0px;
        margin-right: 0px;
    }
}